*{
    padding: 0;
    margin: 0;
    font-family: GT America, Helvetica, Arial;
    transition: .3s;
}

body{
    /* background-color: rgb(242, 249, 244); */
    /* background: #f4f7f6; */
    height:100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    /* width: 1700px; */
    width: 90%;
    margin: 0 auto;
}

header{
    width: 98%;
    /* height: 60px; */
    position: fixed;
    left: 1%;
    top: 0;
    border: 1px solid rgba(0, 0, 0, .1);
    /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
    /* padding: 20px 10px; */
    background-color: #fff;
    z-index: 100;
}

header .fa-bars{
    margin-left: 20px;
}

header .fa-bars:hover{
    cursor: pointer;;
    color: #99cc33;
}

.header-scrolled{
    width: 90%;
    left: 5%;
    right: 5%;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}

header ul{
    height: 100%;
}

header li{
    padding: 0 20px;
    /* border: 1px solid red; */
    height: 100%;
    line-height: 60px;
}

header li:hover{
    cursor: pointer;
}

header li:hover i{
    color: #99cc33;
}

/* header a{
    margin-left: 30px;
} */

.login{
    /* line-height: 1.82; */
    font-weight: 400;
    background-color: #99cc33;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.2px;
}

header i{
    color: #333;
    font-size: 16px;
}

.search-box{
    position: relative;
    height: 100%;
    width: 0px;
    /* border: 1px solid red; */
    overflow: hidden;
}

.search-box-active{
    width: 500px;
}

.search-box i{
    position: absolute;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #99cc33;
    text-align: center;
    line-height: 50px;
}

.search-box i:hover{
    cursor: pointer;
}

.search-box input{
    height: 50px;
    width: 100%;
    border: 1px solid #99cc33;
    text-align: right;
    padding-right: 10px;
    color: #333;
}

.filters{
    border-top: 1px solid rgba(0, 0, 0, .1);    
}

.filters ul{
    justify-content: flex-start;
}

.filters li{
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.filters li:first-of-type{
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.filters li:hover{
    background-color: #99cc33;
}

.filters a{
    /* background-color: #99cc33; */
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.2px;
    color: #333;
}
.filters i{
    width: 50px;
    text-align: center;
}

.dropdown-menu{
    position: absolute;
    padding: 0px;
    top: 100%;
    left: 0;
    height: 0;
    width: 300px;
    background-color: #fff;
    /* border: 1px solid rgba(0, 0, 0, .1); */
    overflow: hidden; 
}

.dropdown-menu-active{
    height: 100vh;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-left: none;       
}

.dropdown-menu a{
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: #333;
}

.dropdown-menu a:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: #99cc33;
}

.dropdown-menu li:hover a:before{
    width: 20px;
    transition: .3s;
}

.dropdown-menu li{
    position: relative;
    height: 50px;
    padding: 0;    
}

.dropdown-menu ul{
    height: 750px;
}

.dropdown-menu i{
    margin-right: 30px;
    font-size: 15px;
}

.dropdown-menu i:hover{
    color: #99cc33;
}

/* ---------------------------------- */
h1{ 
    text-align: center;
    margin-top: 150px;
    font-family: "Domaine", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.9375rem;
    font-family: "Domaine", serif;
}

.content{
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left{
    width: 40%;
    margin-right: 2.5%;
    padding-right: 2.5%;    
    border-right: 1px solid #E1E0E1;
    overflow: hidden;
}

.left img{
    max-width: 100%;
}

.center{
    width: 20%;
    height: 70vh;
    font-family: "Feijoa", serif;
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    overflow-x: hidden;
    color: #1A1A1A;
    text-transform: capitalize;
}

.center li{
    height: 30px;
}

.center a{
    color: #1A1A1A;
    border-bottom: 3px solid #99cc33;
}

.right{
    width: 40%;
    /* margin-left: 2.5%; */
    padding-left: 2.5%;    
    border-left: 1px solid #E1E0E1;
}

.right iframe{
    /* height: 100%; */
    width: 100%;
    height: 70vh;
    
}
/* ---------------------------------- */

footer{
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    color: #ccc;
    font-size: 14px;
    text-transform: uppercase;
}

footer i{
    margin: 0 10px;
}

footer p{
    font-size: 11px;
    border-bottom: 3px solid #ccc;
}

footer p:hover,
footer i:hover{
    color: #333;
    cursor: pointer;
}