*{
    padding: 0;
    margin: 0;
    font-family:  "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    transition: .3s;
}

body{
    /* background-color: rgb(242, 249, 244); */
    background: #fff;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    /* width: 1700px; */
    width: 90%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
    background-color: #ccc;        
}

header{
    width: 99%;
    /* height: 60px; */
    position: fixed;
    left: .5%;
    top: 0;
    /* border: 1px solid #fff; */
    border: 1px solid #E6EAEA;
    
    border-top: none;
    /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
    /* padding: 20px 10px; */
    background-color: #fff;
    z-index: 100;
}

.header-scrolled{
    width: 90%;
    left: 5%;
    right: 5%;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    color: #03dcbd;
    box-shadow: 0 6px 5px 2px rgba(0,0,0,.3); 
}

nav{
    height: 60px;
    color: #333;
    text-transform: capitalize;
    border-bottom: 1px solid #E6EAEA;    
    /* border-bottom: 1px solid #fff; */
}

nav h1{
    font-weight: 100;
    letter-spacing: 15px;
}

nav i{
    margin-right: 10px;
}

.search,
.menu,
.login{
    height: 100%;
    border: 1px solid #E6EAEA;
    border-bottom: none;
    padding: 0 20px;
}

.search:hover,
.login:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.search{
    border-left: none;
}

.menu{
    border: none;
    background-color: #99cc33;
}

.menu-active{
    background-color: #333;
    color: #fff;
}

.menu:hover,
.logo:hover{
    cursor: pointer;
}

.search-input{
    position: absolute;
    background-color: #333;
    top: 0;
    height: 60px;
    width: 0%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2);   */
    overflow: hidden;       
}

.search-input-active{
    width: 100%;
}

.search-input i{
    width: 60px;
    height: 100%;
    text-align: center;
    line-height: 60px;
    background-color: #99cc33;
    color: #fff;
}

.search-input input{
    width: 500px;
    border: none;
    /* height: 95%; */
    background-color: #333;
    /* border-bottom: 1px solid #03dcbd; */
    color: #fff;
    font-size: 30px;
    padding-left: 20px;
}

.search-input p{
    text-transform: uppercase;
    color: #fff;
    margin-right: 10px;
}

.search-input p:hover,
.search-input i:hover{
    cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: .7;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
        font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: .7;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
        font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: .7;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #ccc;
        font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: .7;
  }

.filters{
    height: 50px;
}

.filters ul{
    justify-content: flex-start;
}

.filters p{
    color: #333;
    padding: 0 10px;
    text-transform: capitalize;
    font-size: 12px;
}

.filters li{
    height: 100%;    
    padding: 0 20px;
    border-left: 1px solid #E6EAEA; 
    border-top: none;
    border-bottom: none;
}

.filters li:last-child{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    
}

.filters li:hover{
    cursor: pointer;
    background-color: #99cc33;
}

.filters a{
    text-transform: uppercase;
    line-height: 50px;
    font-size: 12px;
    color: #333;
}

nav{
    position: relative;
}
                 
.dropdown-menu{
    position: absolute;
    right: 0;
    top: 100%;
    height: 0px;
    background-color: #333;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    /* border: 1px solid rgba(0, 168, 144, .3);     */
    overflow: hidden;
    /* height: 400px;*/
}

.dropdown-menu a{
    color: #fff;    
}

.dropdown-menu-active{
    height: 400px;
}

.dropdown-menu ul{
    padding: 10px 0;
    border-bottom: 1px solid #E6EAEA; 
}

.dropdown-menu li{
    padding: 10px 30px;
}

.dropdown-menu li:hover{
    cursor: pointer;
    background-color: #fff;
}

.dropdown-menu li:hover a{
    color: #333;
}

.drop-soc{
    padding: 30px 30px;
}

.drop-soc i{
    margin-right: 20px;
    font-size: 14px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%; 
    border: 1px solid #fff;
}

.drop-soc i:hover{
    background-color: #fff;
    color: #333;
}

/* ---------------------------------- */
.pagination{
    margin-top: 150px;
}

.pagination ul{
    justify-content: flex-start;
}

.pagination-num{
    border: 1px solid #ccc;;
    border-left: none;
    padding: 10px 15px;
    background-color: #fff;
}

.pagination li:first-child{
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.pagination a{
    color: #333;
}

.pagination li:hover{
    background-color: #ccc;
    cursor: pointer;
}

.pagination-active{
    background-color: #ccc;
}

/* ---------------------------------- */
.content{
    /* display: flex; */
    /* justify-content: flex-start; */
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 70vh;
    margin-top: 150px; 
    margin-bottom: 100px;
    
}

.desc-fixed{
    /* position: fixed; */
    top: 150px;
    left: 5%;
    height: 100%;
    width: 20%;
    background-color: #333;
    /* box-shadow: 3px 0px 21px 1px #383838; */
    box-shadow: 0 20px 20px rgba(0,0,0,.08);

}

.desc-fixed li{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #E6EAEA;
    color: #fff;
    text-transform: capitalize;
    font-size: 13px;
}

.desc-fixed .title{
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    text-align: center;
}

.desc-fixed a{
    color: #fff;
    border-bottom: 3px solid #fff;
}

.right-side{
    height: 100%;
    width: 80%;
    background-color: #333;
    border: 5px solid #333;
    box-sizing: border-box;
}

.right-inner{
    /* margin: 10px; */
}

.right-side iframe{
    width: 100%;
    height: 100%;
}

.small-shit-menu{
    position: absolute;
    right: 4px;
    height: 30%;
    /* background-color: rgba(255, 255, 255, .1); */
    background-color: #333;
}

.small-shit-menu ul{
    margin-top: 30px;
    padding: 0 30px;
}

.small-shit-menu li{
    position: relative;
    line-height: 50px;
}

.small-shit-menu a{
    color: #ccc;
}

.small-shit-menu a:before{
    content: '';
    position: absolute;
    top: 70%;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #fff;
}

.small-shit-menu li:hover{
    cursor: pointer;
}

.small-shit-menu li:hover a{
    color: #fff;
}

.small-shit-menu li:hover a:before{
    width: 100%;
    transition: .3s;
}

/* ---------------------------------- */

footer{
    padding: 20px 0;
    border-top: 1px solid #E6EAEA; 
    color: #ccc;
    font-size: 14px;
    text-transform: uppercase;
}

footer i{
    margin: 0 10px;
}

footer p{
    font-size: 11px;
    border-bottom: 3px solid #ccc;
}

footer p:hover,
footer i:hover{
    color: #333;
    cursor: pointer;
}