*{
    padding: 0;
    margin: 0;
    font-family:  "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    transition: .3s;
}

body{
    /* background-color: rgb(242, 249, 244); */
    background: #fff;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    /* width: 1700px; */
    width: 90%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
    background-color: #ccc;        
}

::selection {
    background: #99cc33; /* WebKit/Blink Browsers */
    color: #fff;
  }
  ::-moz-selection {
    background: #99cc33; /* Gecko Browsers */
    color: #fff;    
  }

header{
    width: 99%;
    /* height: 60px; */
    position: fixed;
    left: .5%;
    top: 0;
    /* border: 1px solid #fff; */
    border: 1px solid #E6EAEA;
    
    border-top: none;
    /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
    /* padding: 20px 10px; */
    background-color: #fff;
    z-index: 2;
}

.header-scrolled{
    /* width: 90%; */
    /* left: 5%; */
    /* right: 5%; */
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    box-shadow: 0 6px 5px 2px rgba(0,0,0,.3); 
}

nav{
    height: 60px;
    color: #333;
    text-transform: capitalize;
    border-bottom: 1px solid #E6EAEA;    
    /* border-bottom: 1px solid #fff; */
}

nav h1{
    font-weight: 100;
    letter-spacing: 15px;
}

nav i{
    margin-right: 10px;
}

.search,
.menu,
.login{
    height: 100%;
    border: 1px solid #E6EAEA;
    border-bottom: none;
    padding: 0 20px;
}

.search:hover,
.login:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.search{
    border-left: none;
}

.menu{
    border: none;
    background-color: #99cc33;
}

.menu-active{
    background-color: #333;
    color: #fff;
}

.menu:hover,
.logo:hover{
    cursor: pointer;
}

.search-input{
    position: absolute;
    background-color: #333;
    top: 0;
    height: 60px;
    width: 0%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2);   */
    overflow: hidden;       
}

.search-input-active{
    width: 100%;
}

.search-input i{
    width: 60px;
    height: 100%;
    text-align: center;
    line-height: 60px;
    background-color: #99cc33;
    color: #fff;
}

.search-input input{
    width: 500px;
    border: none;
    /* height: 95%; */
    background-color: #333;
    /* border-bottom: 1px solid #03dcbd; */
    color: #fff;
    font-size: 30px;
    padding-left: 20px;
}

.search-input p{
    text-transform: uppercase;
    color: #fff;
    margin-right: 10px;
}

.search-input p:hover,
.search-input i:hover{
    cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: .7;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
        font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: .7;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
        font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: .7;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #ccc;
        font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: .7;
  }

.filters{
    height: 50px;
}

.filters ul{
    justify-content: flex-start;
}

.filters p{
    color: #333;
    padding: 0 10px;
    text-transform: capitalize;
    font-size: 12px;
}

.filters li{
    height: 100%;    
    padding: 0 20px;
    border-left: 1px solid #E6EAEA; 
    border-top: none;
    border-bottom: none;
}

.filters li:last-child{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    
}

.filters li:hover{
    cursor: pointer;
    background-color: #99cc33;
}

.filters a{
    text-transform: uppercase;
    line-height: 50px;
    font-size: 12px;
    color: #333;
}

nav{
    position: relative;
}
                 
.dropdown-menu{
    position: absolute;
    right: 0;
    top: 100%;
    height: 0px;
    background-color: #333;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    /* border: 1px solid rgba(0, 168, 144, .3);     */
    overflow: hidden;
    /* height: 400px;*/
}

.dropdown-menu a{
    color: #fff;    
}

.dropdown-menu-active{
    height: 400px;
}

.dropdown-menu ul{
    padding: 10px 0;
    border-bottom: 1px solid #E6EAEA; 
}

.dropdown-menu li{
    padding: 10px 30px;
}

.dropdown-menu li:hover{
    cursor: pointer;
    background-color: #fff;
}

.dropdown-menu li:hover a{
    color: #333;
}

.drop-soc{
    padding: 30px 30px;
}

.drop-soc i{
    margin-right: 20px;
    font-size: 14px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%; 
    border: 1px solid #fff;
}

.drop-soc i:hover{
    background-color: #fff;
    color: #333;
}

/* ---------------------------------- */

.pencil-fixed{
    position: fixed;
    bottom: 120px;
    right: 20px;
    background-color: #363636;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    z-index: 2;
    -webkit-box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.pencil-fixed:hover{
    cursor: pointer;     
}

.pencil-fixed:hover p{
    opacity: 1;
}

.pencil-fixed i{
    line-height: 60px;
    font-size: 30px;
}

.pencil-fixed p{
    position: absolute;
    color: #363636;
    bottom: 110%;
    text-transform: capitalize;
    opacity: 0;
}
/* ---------------------------------- */
.content{
    margin-top: 150px;
    margin-bottom: 80px;
    border: 1px solid #E6EAEA;
}

.title-des{
    display: flex;
    border-bottom: 1px solid #E6EAEA;
    
}

.inner{
    margin: 20px;
    overflow: hidden;
}

.desc{
    width: 70%;
    border-right: 1px solid #E6EAEA;
    color: #363636;
}

.desc .inner{
    margin: 80px;
}

.desc h1{
    font-size: 50px;
    margin-bottom: 30px;
    letter-spacing: 3px;
    border-bottom: 1px solid rgba(230, 234, 234, .5);    
}

.desc p{
    text-align: justify;
}

.basic-desc ul{
    width: 50%;
    float: right;
}

.basic-desc li{
    display: flex;
    justify-content: space-between;
    color: #363636;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom: 1px solid rgba(230, 234, 234, .5);
    line-height: 40px;    
}



.basic-desc{
    width: 30%;
}

.map{
    display: flex;
    border-bottom: 1px solid rgba(230, 234, 234, .5);    
}

.map-frame{
    width: 60%;
    border-right: 1px solid #E6EAEA;
    border-left: 1px solid #E6EAEA;    
}

.map-frame iframe{
    width: 100%;
}

.blank{
    width: 20%;
}

.map-list{
    width: 20%;
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
}

.map-list li{
    line-height: 40px;
}

.images{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 25%;
    border-right: 1px solid #E6EAEA;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.img-wrap{
    width: 100%;
    box-shadow: 0 6px 5px 2px rgba(0,0,0,.3); 
    box-shadow: 0 2px 3px 1px rgba(0,0,0,.3); 
}

.img-wrap img{
    width: 100%;
    border: 1px solid #E6EAEA;
    
}

.group:after {
    content: "";
    display: table;
    clear: both;
  }

/* ---------------------------------- */

footer{
    /* position: fixed; */
    /* left: 5%; */
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #E6EAEA; 
    color: #ccc;
    font-size: 14px;
    text-transform: uppercase;
    /* background-color: red; */
}

footer i{
    margin: 0 10px;
}

footer p{
    font-size: 11px;
    border-bottom: 3px solid #ccc;
}

footer p:hover,
footer i:hover{
    color: #333;
    cursor: pointer;
}